  # UTILITIES
  - name: (Utilities) Make shortcut to iCloud
    file:
      src: ~/Library/Mobile Documents/com~apple~CloudDocs/
      dest: ~/iCloud
      state: link
  - name: (Utilities) Install pure prompt
    npm:
      name: pure-prompt
      global: yes
      state: latest
  - name: (Utilities) Install zsh-syntax-highlighting
    git:
      repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
      dest: ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
      update: yes
  - name: (Utilities) Install zsh-autosuggest
    git:
      repo: https://github.com/zsh-users/zsh-autosuggestions.git
      dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
      update: yes
  - name: (Utilities) Install utilities from brew
    homebrew:
      name: "{{ item }}"
      state: present
    with_items:
      - tree
      - fzf
      - gist
      - task
      - timewarrior
      - fasd
      - sleepwatcher
  - name: (Utilities) Configure fzf with useful key bindings and fuzzy completion
    shell: $(brew --prefix)/opt/fzf/install
    changed_when: False
  - name: (Utilities) Install vundle
    git:
      repo: https://github.com/VundleVim/Vundle.vim.git
      dest: ~/.vim/bundle/Vundle.vim
      update: yes
  - name: (Utilities) Install all vim plugins
    shell: vim +PluginInstall +qall
    changed_when: False
  - name: (Utilities) Install opr and ogh
    gem:
      name: open_git
      state: present
  - name: (Utilities) Add sleepwatcher daemon plist
    file:
      src: "~/.dotfiles/ansible/de.bernhard-baehr.sleepwatcher-20compatibility.plist"
      dest: "/Library/LaunchAgents/de.bernhard-baehr.sleepwatcher-20compatibility.plist"
      state: hard
    become: yes
    become_user: root
    become_method: su
  - name: (Utilities) Check if sleepwatcher is running
    command: launchctl list de.bernhard-baehr.sleepwatcher
    register: launchctl_sleepwatcher
    ignore_errors: true

  - name: (Utilities) Load sleepwatcher launch agent
    command: launchctl load /Library/LaunchAgents/de.bernhard-baehr.sleepwatcher-20compatibility.plist
    when: launchctl_sleepwatcher.rc == 113
