  # UTILITIES
  - name: (Utilities) Install pure prompt
    npm:
      name: pure-prompt
      global: yes
      state: latest
  - name: (Utilities) Install zsh-syntax-highlighting
    git:
      repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
      dest: ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
      update: yes
  - name: (Utilities) Install zsh-autosuggest
    git:
      repo: https://github.com/zsh-users/zsh-autosuggestions.git
      dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
      update: yes
  - name: (Utilities) Install utilities from brew
    homebrew:
      name: "{{ item }}"
      state: present
    with_items:
      - tree
      - fzf
      - gist
  - name: (Utilities) Configure fzf with useful key bindings and fuzzy completion
    shell: $(brew --prefix)/opt/fzf/install
  - name: (Utilities) Install tmux
    homebrew:
      name: tmux
      state: present
  - name: (Utilities) Install iTerm2
    homebrew_cask:
      pkg: iterm2
      state: present
    ignore_errors: True
  - name: (Utilities) Install vundle
    git:
      repo: https://github.com/VundleVim/Vundle.vim.git
      dest: ~/.vim/bundle/Vundle.vim
      update: yes
  - name: (Utilities) Install all vim plugins
    shell: vim +PluginInstall +qall
  - name: (Utilities) Install opr and ogh
    gem:
      name: open_git
      state: present
