  # WINDOW MANAGER
  - name: (Window Manager) Tap yabai
    homebrew_tap:
      name: koekeishiya/formulae
      state: present
  - name: (Window Manager) Install yabai
    homebrew:
      name: yabai
      state: present
  - name: (Window Manager) Install yabai script additions
    shell: sudo yabai --install-sa
  - name: (Window Manager) Brew services start yabai
    shell: brew services start yabai
  - name: (Window Manager) Restart Dock
    shell: killall Dock
  - name: (Window Manager) Install skhd
    homebrew:
      pkg: koekeishiya/formulae/skhd
      state: present
      options: HEAD,with-logging
  - name: (Window Manager) Check existence
    stat:
      path: /usr/local/bin/qes
    register: qes
  - name: (Window Manager) Pull qes
    git:
      repo: https://github.com/koekeishiya/qes.git
      dest: /usr/local/etc/qes
      update: yes
    when: qes.stat.exists == False
  - name: (Window Manager) Build qes
    shell: make
    args:
      chdir: /usr/local/etc/qes
    when: qes.stat.exists == False
  - name: (Window Manager) Add qes to path
    file:
      src: /usr/local/etc/qes/bin/qes
      dest: /usr/local/bin/qes
      state: hard
    when: qes.stat.exists == False
